h4 {
  color: gray;
  font-family: sans-serif;
}

body {
  text-align: center;
}

img {
  height: 100%;
}

.titleAlbum {
  text-decoration-line: underline;
}

.locaso{
  background-color: #000;
  color: #fff;
  font-size: 28px;
  line-height: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}